.main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 11rem;
}

.main-menu-button {
    border-radius: 7.5px;
    height: 2rem;
    min-width: 8rem;
    align-self: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin: 0.1rem;
    color: #fff;
    background: rgb(30,77,33);
    background: linear-gradient(0deg, rgba(30,77,33,1) 0%, rgba(103,228,111,1) 100%, rgba(255,255,255,1) 100%);
}

.main-menu-button:focus {
    transform: translate(0.25px, 0.25px);
    outline: none;
}

.title {
    font-size: 1.5rem;
    margin-bottom: 3rem;
}